.nav-bar-div {
    display: flex;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 34px;
    left: 135px;
    right: 0px;
    top: 0px;
    background: #001529;
    justify-content: space-between;
    grid-area: navbar;
}

.nav-bar-div .ant-dropdown-trigger.ant-dropdown-link {
    margin-right: 16px;
}

.nav-bar-div .ant-dropdown-trigger.ant-dropdown-link .anticon.anticon-down {
        font-size: 6px;
}

.menu-icon {
    color: white;
    width: 19px;
    height: 16px;
    margin-left: 12px;
}

.menu-icon {
    font-size: 12px;
}

.ant-btn {
    background-color: #001529;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 8px;
    padding: 0;
    margin-right: 13px;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    background-color: #1890FF;
    color: white;
}

.ant-avatar.ant-avatar-icon {
    font-size: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 6px;
}

a {
    color: #BFBFBF;
}

.anticon-search {
    font-size: 8px;
}

.ant-input-affix-wrapper {
    width: unset;
    width: 106px;
    margin-right: 13px;
    padding: 0 0 0 5px;
    line-height: 1;
}

.ant-input-affix-wrapper > input.ant-input {
    font-size: 8px;
    margin-left: 0;
}

.anticon-search {
    color: #1890FF;
}

.ant-input-prefix {
    margin-right: 2px;
}

.ant-divider-vertical {
    border-left: 1px solid #D9D9D9;
    height: 16px;
    margin: 0 13px 0 0;
}
