.global-exclusion-tab {
    padding: 5px 14px;
}

.global-exclusion-tab .flex.space-between {
    margin-top: 5px;
}

.search-item-div {
    margin-top: 4px;
}

.search-item-div .ant-radio-button-wrapper {
    line-height: unset;
    padding: 2px 6px;
    font-size: 8px;
    height: unset;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-part {
    width: 49%;
}

.total-selected-products-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 11px;
}

.total-selected-products-wrapper .ant-checkbox-inner {
    width: 8px;
    height: 8px;
}

.total-selected-products-wrapper .ant-checkbox-inner:after {
    width: 4px;
    height: 4px;
}

.total-selected-products-wrapper .ant-checkbox+span {
    padding-left: 5px;
    font-size: 8px;
}

.ant-radio-group.ant-radio-group-solid svg {
    font-size: 10px;
}

.radio-group-container svg {
    font-size: 21px;
}

.radio-group-container .ant-radio-button-wrapper {
    font-size: 10px;
    padding: 0 8px;
    height: 17px;
    line-height: 17px;
}

.radio-group-container .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    background-color: red;
    color: white;
}

.radio-group-container .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:last-child {
    background-color: #1890FF;
    color: white;
}

.radio-group-container .ant-radio-button-wrapper:last-child {
    background-color: #F5F5F5;
    color: #BFBFBF;
}

.radio-group-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: red;
}

.radio-group-container .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):last-child {
    border-color: #1890FF;
}

.status {
    display: inline-block;
    margin: 0;
    margin-right: 4vw;
    width: 3vw;
}

.list-item-style {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list-item-checkbox-div .ant-checkbox-wrapper {
    padding-right: 20px;
}

.list-item-checkbox-div .ant-image {
    margin-right: 15px;
}

.image-item {
    border: 1px solid #D9D9D9;
    padding: 4px;
}

.close-icon {
    color: #BFBFBF;
    margin-right: 3.3vw;
    font-size: 15px;
}

.ant-typography {
    font-size: 8px;
}