.global-body {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "menu navbar navbar navbar"
        "menu main main main"
        "menu main main main"
        "menu main main main";
    grid-template-columns: 136px auto auto auto;
    grid-template-rows: 34px auto;
}

.main-page {
    grid-area: main;
    padding: 8px 12px;
}

.tabs-div {
    background-color: white;
    margin-top: 7px;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
    font-size: var(--font-size);
    line-height: 1;
    padding: 4px 8px;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
    margin: 0;
}

.ant-input:placeholder-shown {
    width: 70%;
    margin-left: 5px;
    font-size: 8px;
    padding: 1px 5px;
}

.flex {
    display: flex;
}


.ant-pagination-item a {
    margin: 0;
}

.ant-list-pagination {
    text-align: left;
}

.ant-breadcrumb {
    font-size: var(--font-size);
}

.ant-breadcrumb-separator {
    margin: 0 4px;
}
