.global-body {
    background-color: #f0f2f5;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "menu navbar navbar navbar"
        "menu main main main"
        "menu main main main"
        "menu main main main";
    grid-template-columns: 136px auto auto auto;
    grid-template-rows: 34px auto;
}

.main-page {
    grid-area: main;
    padding: 8px 12px;
}

.tabs-div {
    background-color: white;
    margin-top: 7px;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
    font-size: var(--font-size);
    line-height: 1;
    padding: 4px 7px
}

.ant-tabs-nav-add {
    font-size: 8px;
    min-width: unset;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
    margin: 0;
}

.ant-input:placeholder-shown {
    width: 70%;
    margin-left: 5px;
    font-size: var(--font-size);
    padding: 1px 5px;
}

.flex {
    display: flex;
}


.ant-pagination-item a {
    margin: 0;
}

.ant-list-pagination {
    text-align: left;
}

.ant-breadcrumb {
    font-size: var(--font-size);
}

.ant-breadcrumb-separator {
    margin: 0 4px;
}

.ant-list-bordered {
    margin-top: 10px;
}

.ant-image {
    width: 26px;
}

.image-item {
    padding: 1px;
}

.ant-list-bordered.ant-list-lg .ant-list-item {
    padding: 12px 11px;
}

.ant-list .ant-checkbox-inner {
    width: 8px;
    height: 8px;
}

@media only screen and (min-width: 1440px) {
    .global-body {
        grid-template-columns: 189px auto auto auto;
        grid-template-rows: 47px auto;
    }
}