.nav-bar-div {
    display: flex;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 34px;
    left: 135px;
    right: 0px;
    top: 0px;
    background: #001529;
    justify-content: space-between;
    grid-area: navbar;
}

.nav-bar-div .ant-dropdown-trigger.ant-dropdown-link {
    margin-right: 16px;
}

.nav-bar-div .ant-dropdown-trigger.ant-dropdown-link .anticon.anticon-down {
        font-size: 6px;
}

.menu-icon {
    color: white;
    width: 19px;
    height: 16px;
    margin-left: 12px;
    font-size: 12px;
}

.nav-buttons-wrapper .ant-btn {
    background-color: #001529;
    color: white;
    border: none;
    border-radius: 0;
    font-size: var(--font-size);
    padding: 0;
    margin-right: 13px;
}

.nav-buttons-wrapper .ant-btn:hover,
.nav-buttons-wrapper .ant-btn:focus,
.nav-buttons-wrapper .ant-btn:active {
    background-color: #1890FF;
    color: white;
}

.ant-avatar.ant-avatar-icon {
    font-size: var(--font-size);
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 6px;
}

a {
    color: #BFBFBF;
}

.anticon-search {
    font-size: var(--font-size);
}

.ant-input-affix-wrapper {
    width: unset;
    width: 106px;
    margin-right: 13px;
    padding: 0 0 0 5px;
    line-height: 1;
}

.ant-input-affix-wrapper > input.ant-input {
    font-size: var(--font-size);
    margin-left: 0;
}

.anticon-search {
    color: #1890FF;
}

.ant-input-prefix {
    margin-right: 2px;
}

.ant-divider-vertical {
    border-left: 1px solid #D9D9D9;
    height: 16px;
    margin: 0 13px 0 0;
}

@media only screen and (min-width: 1440px) {
    .nav-bar-div {
        left: 190px;
        height: 47px;
    }

    .nav-bar-div .ant-input {
        line-height: 22px;
    }

    .nav-bar-div .ant-dropdown-trigger.ant-dropdown-link .anticon.anticon-down {
        font-size: var(--font-size);
    }

    .nav-bar-div .ant-dropdown-trigger.ant-dropdown-link {
        margin-right: 22px;
    }

    .menu-icon {
        font-size: 15px;
        margin-left: 18px;
    }

    .ant-avatar.ant-avatar-icon {
        font-size: 12px;
        width: 23px;
        height: 23px;
        line-height: 23px;
        margin-right: 10px;
    }

    .ant-divider-vertical {
        height: 24px;
        margin: 0 19px 0 0;
    }

    .ant-input-affix-wrapper {
        margin-right: 19px;
        width: 149px;
        padding-left: 8px;
    }

    .nav-buttons-wrapper .ant-btn {
        margin-right: 19px;
    }
    .ant-menu-root.ant-menu-inline {
        width: 190px !important;
    }
}
